<!DOCTYPE html>
<html>
<body>


{% assign products = collections.all.products %}
{% for product in products %}
<div class="products" style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 40px; padding:0 20px;">
  <div class="product_card" style=margin-top:36px;">
    <a href="{{ product.url }}">
      <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}"
     style="max-width: 400px; max-height: 300px; height: auto; width: auto">

      <h4 style=" width: 50%; margin-left: auto; margin-right: auto; margin-top:-8px color:{{section.settings.text_color |  default: '#333'}} ">{{product.title}}</h4>
    </a>
    <div style="display: flex; flex-direction: row; justify-content:space-between;align-items: center;">
      <div style="display: flex; flex-direction: column; justify-content:center; align-items: center">
        <p><s>{{product.compare_at_price |  money}}</s></p>
        <p style=" margin-top:-10px ">{{product.price |  money}}</p>
      </div>
      <form action="" method="post">
        <input type="submit" value="Add to Cart" style="background-color: #007BFF; color: white; padding: 8px 16px; border: none; border-radius: 4px; font-size: 14px; cursor: pointer;">
      </form>
    </div>
   
  </div>
  {% endfor %}
  </div>

  </body>
</html>
